html {
    background-color: #494646;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #968d8d;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    font-style: initial;
}

.login {
    text-align: center;
    font-style: italic;
    font-size: 2em;
}
