html {
    background-color: #494646;
}

.right{
    text-align: right;
    clear: both;
}

.left{
    float: left;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #968d8d;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    font-style: initial;
}

.login {
    float: left;
    font-style: italic;
    font-size: 2em;
}

#search {
    position: absolute;
    width: 20%;
    border-right: 2px solid #041fb9;
}

#find {
    margin-left: 22%;
}

table{
    background-color: #ffffff;
    text-align: justify;
}

thead tr {
    background-color: #494646;
    font-style:oblique;
    color: gold;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: red;
}

tbody tr:nth-child(odd) {
    background-color: blue;
}

tbody tr {
    color: black;
    text-align: center;
}
