.right{
    text-align: right;
    clear: both;
}

.left{
    float: left;
}

body {
    background-color: #8282f5;
    height: 100%;
    width: 100%;
}

section {
    margin-bottom: 2em;
    margin-left: 4em;
    padding-top: 10px;
    padding-left: 20px;
}

#login_center {
    margin: 10em;
    padding-left: 20em;
}

h2 {
    padding-left: 1em;
    font-size: 2.5em;
    font-style: oblique;
}

.login {
    text-align: center;
    float: left;
    font-style: italic;
    font-size: 2em;
}

#search {
    position: absolute;
    width: 20%;
    border-right: 2px solid #041fb9;
}

#find {
    position: absolute;
    margin-left: 25%;
}

.rightNavigation {
    position: absolute;
    margin-left: 90%;
}

table{
    background-color: #a5aedc;
    text-align: justify;
}

    table a {
        text-decoration: none;
    }

thead tr {
    background-color: #8282f5;
    font-style:oblique;
    color: navy;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #828dcb;
}

tbody tr:nth-child(odd) {
    background-color: #98a1d8;
}

tbody tr {
    color: black;
    text-align: center;
}

button a{
    display: inline-block;
    user-select: none;
    text-decoration: none;
    font-weight: 900;
    padding: 5em, 2em;
    border: 2px solid #f3883c;
    border-radius: 10px;
    outline: none;
    background: linear-gradient(#c2a400, #f2e184)#f3883c;
}

    button a:active
     {
        background: linear-gradient(#ff0000, #804242) #041fb9;
    }
    button a:hover {
         background: linear-gradient(#e68c00, #decd6d) #ed7a7a;
    }

button {
    background-color: transparent;
    border: none;
}