@model CrimeCity.Models.User
@{
    ViewBag.Title = "Login";
}

<section id="login_center">
    <h2>Ввійдіть в систему</h2>
    @using (Html.BeginForm("Login", "Login"))
    {
        <div class="login">
            <p class="right">
                <span class="left">Login:</span>
                @Html.TextBoxFor(x => x.Login)
            </p>
            <p class="right">
                <span class="left">Password:</span>
                @Html.PasswordFor(x => x.Password)
            </p>
            <input type="submit" value="Вхід" />
        </div>
    }
</section>