@model CrimeCity.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Ввійдіть в систему</h2>

@using (Html.BeginForm("Login", "Login"))
{
    <div class="login">
        Login: @Html.TextBoxFor(x => x.Login) <br />
        Password: @Html.PasswordFor(x => x.Password) <br />
        <input type="submit" value="Вхід">
    </div>
}